<!DOCTYPE html>
<html>
<head>
	<title>myProject</title>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
	
 

</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron top">
			<h1>Qr code generator</h1>
			<p>Build Static QR Codes</p>
		</div>
	
		
		<div class="container panel panel-success">
			<div class="row">
				<button value="static" class="type options">Website Url</button>
				<button value ="bulk" class="type options">Bulk QR code</button>
			</div>
			<div id="bulk" class="emp row jumbotron upper">
				<h2>Upload Csv</h2>
				
					<div class="col-md-10">
						<div onclick="document.getElementById('bulk_upload').click();" class="file_upload">
					    	<i class="fa fa-cloud-upload"></i> Upload Csv
						</div>
						<input type="file" id="bulk_upload" name="file">
					</div>
					<div class="col-md-1">
					<!--	<input type="submit" onclick="bulkUpload();">-->
					</div>
				
			</div>
			<div id="static" class="row jumbotron upper">
				<form action="#" onsubmit="reqToServer();return false;">
					<div class="col-md-10">
						<input type="text" class="form-control input-lg" placeholder="Type Url" id="linkUrl" name="search" autocomplete="off">
					</div>
					<div class="col-md-1">
						<input type="submit" class="hide">
					</div>
				</form>
			</div>
			<div class="row lower">
				<div class="col-md-8">
					<div id="mySidenav" class="sidenav">
						<a href="#" onclick="showEyes();" id="eyes">Eyes</a>
						<a href="#" onclick="showData();" id="blog">Data</a>
						<a href="#" onclick="showColor();" id="projects">Color</a>
						<a href="#" onclick="showFrame();" id="contact">Frame</a>
					</div>
					<div id="custom_section_eye" class="container">
						<div class="row">
							<div class="col-md-4">
								<h2>Frame Shape</h2>
								<button onclick="frameShape='square';reqToServer();" value="square" class="btn"><i class="fa fa-square"> Square</i></button>
								<button onclick="frameShape='rounded';reqToServer();" class="btn"><i class="fa fa-square-o"> Rounded</i></button>
								<button onclick="frameShape='circle';reqToServer();"  class="btn"><i class="fa fa-circle-o"> Cirle</i></button>
								<button onclick="frameShape='left-leaf';reqToServer();" class="btn"><i class="fa fa-envira"> Left Leaf</i></button>
								<button onclick="frameShape='right-leaf';reqToServer();" class="btn"><i class="fa fa-leaf"> Right Leaf</i></button>
							</div>
							<div class="col-md-4">
								<h2>Eye Ball Shape</h2>
								<button onclick="eyeBallShape='square';reqToServer();" value="square" class="btn"><i class="fa fa-square"> Square</i></button>
								<button onclick="eyeBallShape='left-diamond';reqToServer();" class="btn"><i class="fa fa-diamond"> Diamond</i></button>
								<button onclick="eyeBallShape='circle';reqToServer();"  class="btn"><i class="fa fa-circle-o"> Cirle</i></button>
								<button onclick="eyeBallShape='left-leaf';reqToServer();" class="btn"><i class="fa fa-envira"> Left Leaf</i></button>
								<button onclick="eyeBallShape='right-leaf';reqToServer();" class="btn"><i class="fa fa-leaf"> Right Leaf</i></button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h2>Frame Color</h2>
								<input onchange="updateFrameColor();" type="color" id="eyeFrameColor" name="eyeFrameColor" value="#000000">
							</div>
							<div class="col-md-4">
								<h2>Eye Ball Color</h2>
								<input onchange="updateEyeBallColor();" type="color" id="eyeBallColor" name="eyeBallColor" value="#000000">
							</div> 
						</div>
					</div>
					<div id="custom_section_data" class="container">
						<h2>Select Data Pattern</h2>
						<div class="col-md-8">
							<div class="col-md-4">
								<img onclick="dataPattern='square';reqToServer();" src="squareData.svg">
							</div>
							<div class="col-md-4">
								<img onclick="dataPattern='kite';reqToServer();" src="kitedata.svg">
							</div>
							<div class="col-md-4">
								<img onclick="dataPattern='circle';reqToServer();" src="circledata.svg">
							</div>
							<div class="col-md-4">
								<img onclick="dataPattern='left-diamond';reqToServer();" src="leftD.jpg">
							</div>
							<div class="col-md-4">
								<img onclick="dataPattern='right-diamond';reqToServer();" src="rightD.jpg">
							</div>
						</div>
					</div>
					<div id="custom_section_color" class="container">
						<div class="row container">
							<h2>QR Code Background Color</h2>
							<input onchange="updateColor();" type="color" id="qrColor" name="qrcolor" value="#000000">
						</div>
						<div class="row container">
							<h2>Background Image</h2>
							<input type='file' id="imgInp" />
							
						</div>
					</div>
					<div id="custom_section_frame" class="container">
						<div class="col-md-8">
							<div class="col-md-4">
								<img onclick="frame_style='balloon-bottom';reqToServer();" src="ballon_bottom.jpg">
							</div>
							<div class="col-md-4">
								<img onclick="frame_style='balloon-top';reqToServer();" src="ballon_top.jpg">
							</div>
							<div class="col-md-4">
								<img onclick="frame_style='banner-bottom';reqToServer();" src="banner_bottom.jpg">
							</div>
							<div class="col-md-4">
								<img onclick="frame_style='banner-top';reqToServer();" src="banner_top.jpg">
							</div>
							<div class="col-md-4">
								<img onclick="frame_style='box-bottom';reqToServer();" src="box_bottom.jpg">
							</div>
							<div class="col-md-4">
								<img onclick="frame_style='box-top';reqToServer();" src="box_top.jpg">
							</div>
							<input type="text" onkeyup="updateFrameText();" class="form-control input-lg" placeholder="frame text" id="frametext" name="txt" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div id="canvas">
							
						</div>
						<div id="loader">
							<img id="loading-image" src="ajx.gif" style="display: none;" />
						</div>
					</div>
					<div id="btn" class="row">
						<input type="submit" value="Download" id="download" onclick="DownloadAsImage();">'
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
	<script type="text/javascript" src="main.js"></script>
	
</body>
</html>